
CODEOWNERS - MONITOR CIID

· 

/docs/                      @Designdigitalestefania
/README.md                  @Designdigitalestefania
/LICENSE                    @Designdigitalestefania
/index.html                 @Designdigitalestefania
/assets/                    @Designdigitalestefania
/.github/                   @Designdigitalestefania
